@import url('https://fonts.googleapis.com/css?family=Poppins+Font|Turret+Road&display=swap');

body { font-family: 'Turret Road', cursive; }

.font-1 { font-family: 'Turret Road', cursive; }
.font-2 { font-family: 'Poppins'; }